<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZoneSignupWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ZoneServlet</servlet-name>
  	<servlet-class>servlet.ZoneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupStep1</servlet-name>
  	<jsp-file>/signups1.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>SignupStep2</servlet-name>
  	<jsp-file>/signups2.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>SignupStep3</servlet-name>
  	<jsp-file>/signups3.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Error</servlet-name>
  	<jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ZoneServlet</servlet-name>
  	<url-pattern>/ZoneServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupStep1</servlet-name>
  	<url-pattern>/SignupStep1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupStep2</servlet-name>
  	<url-pattern>/SignupStep2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupStep3</servlet-name>
  	<url-pattern>/SignupStep3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Result</servlet-name>
  	<jsp-file>/result.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Result</servlet-name>
  	<url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Error</servlet-name>
  	<url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Signin</servlet-name>
  	<jsp-file>/signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signin</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Signout</servlet-name>
  	<jsp-file>/signout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signout</servlet-name>
  	<url-pattern>/Signout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProviderStep1</servlet-name>
  	<jsp-file>/providers1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProviderStep1</servlet-name>
  	<url-pattern>/ProviderStep1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProviderStep2</servlet-name>
  	<jsp-file>/providers2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProviderStep2</servlet-name>
  	<url-pattern>/ProviderStep2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProviderStep3</servlet-name>
  	<jsp-file>/providers3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProviderStep3</servlet-name>
  	<url-pattern>/ProviderStep3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Membership</servlet-name>
  	<jsp-file>/membership.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Membership</servlet-name>
  	<url-pattern>/Membership</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateBilling</servlet-name>
  	<jsp-file>/updatebilling.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateBilling</servlet-name>
  	<url-pattern>/UpdateBilling</url-pattern>
  </servlet-mapping>
  
</web-app>